extends layout

block content
   h1 Hello #{firstName},
    p You have requested to delete your Pouch account.
    p Your account will be deactivated immediately and permanently deleted in 30 days unless you log back in during this time.
    p If you log back into your account within 30 days, your account will be restored.
    p To manage your account, visit #{url}
    p Thanks, 
    p The Pouch Team