extends layout

block head
  title Overview | Pouch

block content
  .overview-container
    h1 Welcome to Pouch
    p Pouch is your personal budget tracker that helps you manage your finances efficiently.
    
    .features
      h2 Why Choose Pouch?
      ul
        li Track your expenses effortlessly
        li Create custom budget categories
        li Get insightful reports on your spending habits
        li Upgrade to premium for advanced budgeting tools

    .cta-buttons
      a.button(href='/signup') Get Started
      a.button.button-secondary(href='/login') Log