extends layout

block head
  title Upgrade to Premium | Pouch

block content
  .premium-container
    h1 Upgrade to Pouch Premium
    p Unlock advanced features and more control over your financial tracking.

    .premium-benefits
      ul
        li Access to premium financial reports
        li Advanced budgeting tools
        li Personalized insights and recommendations
        li Priority customer support
    
    // The upgrade button for Stripe payment
    button.btn.btn--green.span-all-rows#payment-checkout Upgrade to Premium

