extends layout

block head
  title Premium Subscription | Pouch

block content
  .premium-container
    h1 Unlock Premium Features
    p Enjoy advanced features with a Pouch Premium subscription.
    
    ul.premium-benefits
      li Advanced Budgeting Tools
      li Detailed Financial Reports
      li Exclusive Premium Support

    button#subscribeButton Subscribe Now

    a.cancel-link(href='/') Cancel


