extends layout

block head
  title Premium | Pouch
  script(src="https://js.stripe.com/v3/")
  
block content
  .premium-container
    h1 Upgrade to Pouch Premium
    p Enjoy advanced features with a premium subscription.

    button#checkout-btn Upgrade to Premium

  script.
    const stripe = Stripe("#{process.env.STRIPE_PUBLIC_KEY}");
    document.querySelector("#checkout-btn").addEventListener("click", async () => {
      const res = await fetch("/api/v1/payments/checkout-session");
      const { sessionId } = await res.json();
      stripe.redirectToCheckout({ sessionId });
    });
