extends layout

block content
  .signup-container
    h1 Create Your Pouch Account
    p Sign up to start managing your finances with Pouch.

    form(id="registerForm" class="form-container" method="POST" action="/api/v1/users/register")

      .form-group
        label(for="firstName") First Name:
        input(type="text" id="firstName" name="firstName" required placeholder="Enter your first name")

      .form-group
        label(for="lastName") Last Name:
        input(type="text" id="lastName" name="lastName" required placeholder="Enter your last name")

      .form-group
        label(for="email") Email:
        input(type="email" id="email" name="email" required placeholder="Enter your email")

      .form-group
        label(for="userName") Username:
        input(type="text" id="userName" name="userName" required placeholder="Enter your username")

      .form-group
        label(for="DOB") Date of Birth:
        input(type="date" id="DOB" name="DOB" required)

      .form-group
        label(for="password") Password:
        input(type="password" id="password" name="password" required placeholder="Enter your password")

      .form-group
        label(for="passwordConfirm") Confirm Password:
        input(type="password" id="passwordConfirm" name="passwordConfirm" required placeholder="Confirm your password")

      button(type="submit" class="button") Sign Up

    p Already have an account? 
    a(href='/login') Log in here